<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.yisingle.app">


    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.CHANGE_WIFI_STATE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.CHANGE_CONFIGURATION" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="android.permission.CALL_PHONE"/>

    <!-- 不是sdk需要的权限，是示例中NotiService$NotiInnerService需要的权限 -->
    <uses-permission android:name="android.permission.ACCESS_LOCATION_EXTRA_COMMANDS" />

    <!-- 读取缓存数据 -->
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.MOUNT_UNMOUNT_FILESYSTEMS"/>

    <!-- 更改设置 -->
    <uses-permission android:name="android.permission.WRITE_SETTINGS" />


    <!-- 自定义权限 -->
    <uses-permission android:name="com.yisingle.app.service.GuardService.permission" />
    <uses-permission android:name="com.yisingle.app.service.LocationService.permission" />
    <uses-permission android:name="com.yisingle.app.receiver.LocationReceiver.permission" />

    <application
        android:name=".MainApplication"
        android:allowBackup="true"
        android:fullBackupContent="@xml/backup_descriptor"
        android:icon="@mipmap/ic_product_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <meta-data
            android:name="com.amap.api.v2.apikey"
            android:value="e3b687e72db21b4f298091114cfd8748" />

        <activity
            android:name=".activity.MainActiivty"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustPan">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>

        </activity>
        <activity
            android:name=".activity.TestSimpleActivity"
            android:screenOrientation="portrait">


        </activity>
        <activity
            android:name=".activity.LoginActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustPan" />

        <activity
            android:name=".activity.SendOrderActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustPan">

        </activity>

        <!-- 定位需要的服务 使用2.0的定位需要加上这个 -->
        <service android:name="com.amap.api.location.APSService" />
        <service android:name=".service.OrderService"></service>
        <service
            android:name=".service.GuardService"
            android:permission="com.yisingle.app.service.GuardService.permission"
            android:process=":guard">
            <intent-filter>
                <action android:name="com.yisingle.app.map.location.service.GuardService" />
            </intent-filter>
        </service>
        <service
            android:name=".service.LocationService"
            android:permission="com.yisingle.app.service.LocationService.permission"
            android:process=":location">
            <intent-filter>
                <action android:name="com.yisingle.app.service.LocationService" />
            </intent-filter>
        </service>

        <receiver
            android:name=".receiver.LocationReceiver"
            android:enabled="true"
            android:exported="true"
            android:permission="com.yisingle.app.receiver.LocationReceiver.permission">
            <intent-filter>
                <action android:name="com.broadcast.location.receiver" />
            </intent-filter>
        </receiver>


    </application>

</manifest>